@{
  Layout = "_Layout";
}

@using FactoryManager.Models;
@model List<FactoryManager.Models.Machine>

<header>
  <h1>Machines</h1>
</header>

<main>
  @if (Model.Count == 0)
  {
    <h3>No machines to display</h3>
  }
  else
  {
    <ul class="form-inline">
      @foreach (Machine m in Model)
      {

        <div class="form-group ml-6">
          @Html.ActionLink($"{m.ModelName}", "Details", new {id = m.MachineId}) : @m.Details
        </div>
        <hr>

      }
    </ul>
  }
</main>
<footer class="footer">
  @Html.ActionLink("Add new machine", "Create")
</footer>