<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link"})
    @Html.ActionLink("Engineers", "Index", "Engineers", null, new { @class = "nav-link"})
    @Html.ActionLink("Machines", "Index", "Machines", null, new { @class = "nav-link"})
  </nav>
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Factory Manager</h1>

  </div>
</header>